 * {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

 body { font-family: 'Lato', sans-serif; margin: 0px; padding: 0px;}


.mainBanner{
	background-image: url('/images/banner.jpg');background-repeat: no-repeat;background-size:100%;
  width: 100%;
	height: 400px;
}
/*.mainMenu{background-color: red;}*/
.mainMenu .navbar-default{background-color: rgba(40, 91, 120, 0.3); width: 100%;}
/*.mainMenu{ padding-top: 12px;}
*/

.mainMenu .navbar-nav li a {color: white; padding-left: 4px; }
.mainMenu span{color: white;}

.slider{color: white; padding-top: 150px; padding-left: 250px;}

.preview{background-color: #EEEEEE; width: 100%; border-top: white 4px solid;padding: 20px;}
.preview span { padding-left: 8px; }

.item-preview .story, .picture{ display: inline-block; }
.item-preview .story{padding-left: 12px; }
.item-preview .picture{  margin-top: 0px; float: left; }
.item-preview .story h4{color: rgba(40, 91, 120, 1);}


.homePage{ padding-top: 12px; }

.homePage p{ text-align: justify; margin-top: 8px; }
.homepage .partners{padding-left: 12px;}

.gates .row .intro{ border-bottom: 1px grey solid; margin-bottom: 8px;}