<div class="container">
	<div class="row">

	       <div class="intro col-md-6 col-sm-12">
			<h3>ACCESS CONTROL SYSTEM KENYA</h3>
			<h4>Access Control System Kenya</h4>
			
			<p>Welcome to Kenya’s leading access control  and Time attendance solutions providers.  If you are looking for access control system Kenya, solution science technologies is the answer.
We have partnered with the leading access control solution providers to ensure our customers have the best solutions in access control in the market.
access control system kenya
Some of them include:

 </p>

<h4>Access Control System</h4>
<p>The basic objective of any Access Control solution is to protect an organization’s assets and ensure human safety by controlling movement of people to pre-defined rules.</p>
   <h4>Key Features.</h4>
   <h5>Access Zone</h5>
				<p>Allows controls who (User) goes where (Access Zone) and when (Time) for each Access Zone.</p>
				<h5>Access Mode</h5>
				<p>Support for different access credentials (Finger, Palm Vein, RF Card, PIN).</p>
				<h5>Access Level</h5>
				<p>System can assign up to 15 different Access Level to users. Giving user different privileges.</p>
				<h5>First-In User Rule</h5>
				<p>In some organizations, employees or workers are not allowed to enter certain work areas unless a designated person enters first to ensure higher level of safety and security.</p>
				<h5>2-Person Rule</h5>
				<p>Is an access control feature that allows entry only when two persons from an authorized group jointly use their access credentials.</p>
				<h5>Man-Trap</h5>
				<p>The man trap access control feature dictates that second door should open only after the first has completely closed.</p>
				<h5>Guard Tour</h5>
				<p>Guard Tour facilitates enforcing patrol of security guards Dead-Man Zone.</p>
				<h5> Dead-Man Zone</h5>
				<p>makes it compulsory for the employee to confirm his presence at pre-defined interval.</p>
				<h5>Anti-Pass-Back</h5>
				<p>Anti-Pass-Back prevents a card holder from passing his card back to another person to gain unauthorized entry.</p>
				<h5>Do Not Disturb (DND) Zone</h5>
				<p>Do Not Disturb Zone feature is useful for meeting rooms or areas that should not be access because of specific events.
				
			
	       </div>
            <div class="partners col-md-6 col-sm-12">
				<img src="images/access control.jpg" height="250px">
	      </div>
		
	</div>

		<div class="row">

	       <div class="intro col-md-6 col-sm-12">
			<h3> BIOMETRIC SYSTEMS</h3>
			<h4>Biometric Systems</h4>
			
			<p>Biometric systems are access control systems that restrict or grant permission to a premises/ area after confirmation of an individual’s identity.
			This can be achieved through fingerprint, rectal and facial scans.
We have partnered with the leading access control solution providers to ensure our customers have the best solutions in access control in the market.
 
Solution science technologies is the market leader in both installation and maintenance of both fingerprint scanners (also known as fingerprint readers) in Kenya and also face recognition systems for security doors in Kenya.
We have well trained, professional intercom system technicians to cater to your demands.
We also provide 24 Hr customer support & 2 year warranty for most of our products.
Our clients in the intruder alarms  categories include Hotels, factories, storage facilities, offices and homes.
</p>


	       </div>
            <div class="partners col-md-6 col-sm-12">
				<img src="images/biometric.jpg" height="250px">
	      </div>
		
	</div>

	</div>