<div class="container">
	<div class="row">

	       <div class="intro col-md-6 col-sm-12">
			<h3> ALARM SYSTEMS</h3>
			<h4>Alarm Systems Installation</h4>
			
			<p>Solution Science has partnered with leading alarm systems brands to provide a wide variety of alarm system solutions to its customers.
We have well trained, professional alarm system technicians to cater to your demands.
We also provide 24 Hr customer support & 2 year warranty for most of our products.
Our alarm system Kenya products use visual and audible mechanism to alert occupants of premises of fire hazard. </p>

<h4>Home intruder alarm system</h4>
<p>Our home intruder detection alarm system and office intruder detection alarm system is designed to detect and prevent intruders from accessing your premises.
Our clients in the intruder alarm system categories include Hotels, factories, storage facilities, offices and homes.
Read More here
</p>
   <h4>Fire alarm system.</h4>
				<p>Our Fire alarm system offer an early warning systems to prevent and control fire related incidents.
This system can be used to prevent fire in Hotels, factories, storage facilities, offices and homes.
Read More here
We stock:
</p>
<ul>
	<li>Smoke detectors.</li>
	<li>Heat detectors.</li>
	<li>alarm control panels.</li>
	<li>alarm batteries.</li>
	<li>motion detectors.</li>
	<li>vibration sensors.</li>
	<li>motion detectors.</li>
</ul>
				
			
	       </div>
            <div class="partners col-md-6 col-sm-12">
				<img src="images/alarms.jpg" height="250px">
	      </div>
		
	</div>

		<div class="row">

	       <div class="intro col-md-6 col-sm-12">
			<h3> FIRE ALARM SYSTEMS</h3>
			<h4>Fire alarm systems</h4>
			
			<p>Protect your family and business from the devastating effects a fire can cause with our fire alarm systems Kenya. Not only do we detect fires and warn you in advance, we also have mechanisms to extinguish these fires and protect you.
We have partnered with leading intruder detection brands to ensure our customers have the best intruder detection systems available.
Our alarm system Kenya products use visual and audible mechanism to alert occupants of premises of fire hazard.
We have well trained, professional alarm system technicians to cater to your demands.
Necessary steps should be in place to evacuate occupants in case of fire.

<h4>Smoke detector systems Kenya</h4>
<p>This is one component of our fire alarm detector system Kenya. Our top of the range smoke detector systems are capable of detecting smoke and fumes from fires and identifying the source of the fire. Ideal for both home smoke detection and office smoke detection.</p>

	       </div>
            <div class="partners col-md-6 col-sm-12">
				<img src="images/firealarm1.jpg" height="250px">
	      </div>
		
	</div>

	</div>