<div class="container gates">
	<div class="row">
		<div class="intro col-md-6 col-sm-12">
				<h2>Automated Gates</h2>
				<p>Welcome to the home of automated gates in Kenya.
	We install top of the range gate automatic systems for across Kenya.
	Our automated gates can be controlled using remotes, manually at the terminal e.g. by a security personnel or automatically by sensors.Our automated gates can be installed on everything from the traditional wooden style to contemporary steel designs.We install automatic gates at both residential and commercial premises.<br>We install four types of gates: 

	</p>
		</div>
        <div class="partners col-md-6 col-sm-12">
				<img src="images/sticky.png" height="200px">
		</div>

	</div>

     <div class="row">

	       <div class="intro col-md-6 col-sm-12">
			<h3> Swing gates</h3>
			<p>Sleek, stylish, secure and strong: these are some of the words that describe the VANTAGE linear swing gate motor for domestic and industrial gates. VANTAGE gate automation comes standard with battery backup offers a quick and easy (not to mention good looking) installation
					<h4>Features:</h4>
            			
                  <ul>
					<li>Heavy duty security</li>
					<li>Easy to install</li>
					<li>High push force</li>
					<li>Complete speed control</li>
					<li>Safe battery backup</li>
				</ul>
			 </p>
	       </div>
            <div class="partners col-md-6 col-sm-12">
             <figure>
				<img src="images/swing gate.jpg" height="250px">
				  <figcaption>Fig1. A view of a how we install automated swing gate motors.</figcaption>
                 </figure>
	      </div>
		
	</div>


	<div class="row">

	       <div class="intro col-md-6 col-sm-12">
			<h3> Slide gates </h3>
			<p>The lightning-fast CENTURION D10 Turbo industrial sliding gate motor is the fastest sliding gate in the market. Whether you're just in a hurry, or seriously concerned about your security, there is no time wasted with the D10 Turbo at your gate. This beast will move a gate weighing up to 1000kg and, depending on the weight of the gate, can reach speeds of up to 50 meters per minute!
					<h4>Features:</h4>
            			
                  <ul>
					<li>Heavy duty security</li>
					<li>Battery backup</li>
					<li>Accurate Attractive styling and safe position control</li>
					<li>Jam-free manual override</li>
					<li>Easy setup for simple installation</li>
				</ul>
			 </p>
	       </div>
            <div class="partners col-md-6 col-sm-12">
             <figure>
				<img src="images/sliding gate.jpg" height="250px">
	          <figcaption>Fig2. A view of a how we install automated sliding gate motors.</figcaption>

				</figure>
	      </div>
		
	</div>
	<div class="row">

	       <div class="intro col-md-6 col-sm-12">
			<h3> Barriers</h3>
			<h4>Sector II</h4>
			<p>Introducing the heir to the throne of high-volume vehicular access control. With an updated look that perfectly matches its superior performance, an optimized design for the ultimate in ease of installation and boasting the awe-inspiring speed that made its predecessor king of the access control jungle, the SECTOR II is the embodiment of automation evolution.
					<h4>Features:</h4>
            			
                  <ul>
					<li>Rapid openingy</li>
					<li>Battery backup</li>
					<li>High-torque boom pole operation</li>
					<li>Safe and Robust, durable and slimline</li>
					
				</ul>
			 </p>
	       </div>
            <div class="partners col-md-6 col-sm-12">
            <figure>
				<img src="images/boom gates2.jpg" height="250px">
				<figcaption>Fig3. Our boom gate or barrier gate system</figcaption>
				</figure>
	      </div>
		
	</div>

		<div class="row">

	       <div class="intro col-md-6 col-sm-12">
			<h3> Automated Garage doors</h3>
			
			<p>Unlike the garage door motors of yesteryear, the XTrac's super quiet and powerful 24V DC motor is connected directly to the garage door and travels with it as it opens or closes. No more clanking chains results in a smoother and quieter ride.
            No power? No problem. The XTrac isn't fazed by any power issues - be they low voltages, spikes or even failures.
            The XTrac can be set up in a matter of minutes, powers both sectional and tip-up doors and comes with a host of vital functions and features.

					<h4>Features:</h4>
            			
                  <ul>
					<li>Novel operating principle and revolutionary design</li>
					<li>Dual power - ALWAYS on</li>
					<li>Reliable DC motor</li>
					<li>Adaptive anti-crushing control</li>
					<li>Adjustable speed gives you ultimate control</li>
					
				</ul>
			 </p>
	       </div>
	       
            <div class="partners col-md-6 col-sm-12">
            <figure>
            
				<img src="images/garage door.jpg" height="250px">
				<figcaption>Fig4. Automated garage door</figcaption>
				</figure>
	      </div>
		
	</div>

	</div>