<div class="container">
	<div class="row">

	       <div class="intro col-md-6 col-sm-12">
			<h2> CCTV SYSTEMS INSTALLERS KENYA</h2>
			<h3>Welcome to the home of the top CCTV Systems installers Kenya</h3>
			<h4>We have over 15yrs experience in installing CCTV Systems  in Kenya.</h4>
			
			<p>Solution science Technologies has partnered with the world’s leading CCTV cameras manufactures in the world,  to  become the top CCTV Systems installers Kenya. We ensure you have the top of the range CCTV cameras at very competitive prices.
We are the CCTV installation company that will provide you with; professional after sale service, 24 Hr. Customer care support and world class technical CCTV installation support staff.
 </p>
 <h3>CCTV systems for business.</h3>
 <p>Over the years Solution Science technologies has partnered with numerous local and international organization.  This has provided them with integrated surveillance security cameras. These cameras increase the capacity of their security personnel by providing solutions that incorporate both their existing and their future security apparatus.
this has made us the top  CCTV systems installers  Kenya
</p>
<h3>Home security camera system.</h3>
<p>We have a wide array of home outdoor security cameras, dome cameras and outdoor cameras to suite your needs.
All our CCTV cameras can be remotely accessed meaning you can get live footage to your phone, tablet or PC from anywhere in the world.
We guarantee that we will provide you with the best security cameras in the world and at the most competitive prices in Kenya.
Are you in need of cheap security cameras? Solution Science believes your investment in CCTV systems should be way below the value you can lose in the case of theft at your premises.
Any business owner should be able to use CCTV to monitor and protect their business, Call us today and inquire about our specialized SME packages.
</p>
<h3>Frequently asked questions.</h3>
<p>What does mobile CCTV and CCTV internet mean?<br>
Today’s CCTV systems have the ability stream live video footage to mobile devices through the internet.
All of our CCTV systems are internet enabled and allow you to view, rewind and download video footage to your mobile device.
What is an ip security camera?<br>
Ip cameras use internet protocols to communicate between themselves, computers and the NVR.
IP cameras can also be decentralized meaning they do not need an NVR system and can record directly any standard storage media, such as SD cards, NAS (network attached storage) or a PC/Server.<br>
Call us today to find out more.

</p>
	       </div>
	       
            <div class="partners col-md-6 col-sm-12">
            <figure>
				<img src="images/bullet camera.jpg" height="250px">
				<figcaption>fig8. Outdoor cameras</figcaption>
				</figure>
	      </div>
	       <div class="partners col-md-6 col-sm-12">
	       <figure>
				<img src="images/cctv.png" height="250px" width="100%">
				<figcaption>fig9. Remote access surveillance systems</figcaption>
				</figure>
	      </div>
		
	</div>

		<div class="row">

	       <div class="intro col-md-6 col-sm-12">
			<h4> BULLET CAMERA</h4>
			<h5>Bullet camera Kenya (outdoor Camera)</h5>
			
			<p>A bullet camera is a CCTV camera mounted on a bullet shaped casing.Bullet cameras are ideally suited for outdoor use and are the most common type of cameras in the Kenyan market. These cameras form the first part of a CCTV system.CCTV is the use of video cameras to transmit a signal to a specific place, on a limited set of monitors.

			It defers from television in that the video footage is not openly broadcast.
            outdoor cameras come with a variety of features;



            </p>
	       </div>
            <div class="intro col-md-6 col-sm-12">
				<h4> INDOOR CAMERAS</h4>
			<h5>indoor cameras Kenya (Dome Cameras)</h5>
			
			<p>Dome cameras (a.k.a indoor cameras) are compact cameras fixed in a dome casing.
Dome cameras in Kenya are ideally suited for indoor use and can be easily mounted or suspended on a wall or ceiling.
This depends on the angle or required view.</p>

	      </div>
		
	</div>

	</div>