<section>
	<div class="container">
	<div class="">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<h2>Contact Us</h2>
			<p>Contact us today </p>
			<h3>Call:</h3>
			<p>Cell:+254 724604800</p>
			<p>Phone: +254 020 5206001</p>
			<p> Email: info@sstech.co.ke</p>

		</div>
		<div class="partners col-md-6 col-sm-12">
			<img src="images/sticky.png" height="200px">
		</div>
	</div>
		
	</div>

	<div class="form">
	<!-- www.123contactform.com script begins here -->
<script type="text/javascript" defer src="//www.123contactform.com/embed/2764687.js" data-role="form"></script>
<p>Powered by <a class="footerLink13" title="123ContactForm" href="http://www.123contactform.com">123ContactForm</a> | <a style="font-size:small!important;color:#000000!important; text-decoration:underline!important;" title="Looks like phishing? Report it!" href="http://www.123contactform.com/sfnew.php?s=123contactform-52&control119314=http:///contact-form--2764687.html&control190=Report%20abuse" rel="nofollow">Report abuse</a></p><!-- www.123contactform.com script ends here -->
		</div>
	</div>
</section>