<div class="container">
	<div class="row">

	       <div class="intro col-md-6 col-sm-12">
			<h3> FIRE SUPPRESSION SYSTEM</h3>
			
			<p>An Automatic fire suppression system quickly, effectively and automatically detect and extinguish fire without human intervention.
We are Kenya’s leading Fire suppression systems installers, with expertise experience in installing fire sprinkler system, gaseous fire suppression, and condensed aerosol fire suppression systems.

				
				
			 </p>
	       </div>
            <div class="partners col-md-6 col-sm-12">
            <figure>
				<img src="images/fire-suppression.jpg" height="250px">
				<figcaption>Fig6. Our fire suppression system</figcaption>
				</figure>
	      </div>
		
	</div>

		<div class="row">

	       <div class="intro col-md-6 col-sm-12">
			<h3> Fire Suppression Systems setup</h3>
			
			<p>In applications where space is at a premium, FM-200™ fire suppression systems are the superior choice. The FM-200™ agent is stored in cylinders as a liquid and pressurized with nitrogen, saving huge amounts of storage space
					
			 </p>
	       </div>

            <div class="partners col-md-6 col-sm-12">
            <figure>
             
				<img src="images/fire-suppression-setup.jpg" height="300px" width="100%">
				<figcaption>Fig7. How we set up our fire supression systems</figcaption>
				</figure>
	      </div>
		
	</div>

	</div>